{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- login form -->
{% block content %}
<section id="homepage-background">
  <div class="container">
    <div class="title-div-margin"></div>
    <!-- section login form start -->
    <div class="row justify-content-center mb-5">
      <div class="col-6 mt-2">
          <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <p>Don't have an account? Create one <a href="/register">here</a>.</p>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
    </div>
    <!-- section login form end -->
  </div>
  <img src="{% static 'images/wave.png' %}" class="homepage-wave-image">
</section>

{% endblock %}
