{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 title-div-margin">
        <p class="promo-title">ALWAYS HAVE A RECORD OF YOUR RADIO APPEARANCES</p>
        <p>Another statement to type this platform to the max</p>
        {% if not user.is_authenticated %}
        <button class="btn btn-primary mr-2">Sign Up</button>
        <button class="btn btn-outline-primary">Log In</button>
        {% else %}
        <button class="btn btn-primary">Browse Recordings</button>

        {% endif %}
      </div>
      <div class="col-md-6 text-center">
        <!-- https://stories.freepik.com/illustration/podcast/amico -->
        {% include 'home/banner_image.html' %}
      </div>
    </div>
  </div>
  <img src="{% static 'images/wave.png' %}" class="bottom-img">
</section>

<script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);}</script>
{% endblock %}
