{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- https://www.bootdey.com/snippets/view/support-tickets#html -->
<div class="padding"></div>
<div class="container">
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="grid support">
          <div class="grid-body">

            <p><strong>Search Recordings</strong></p>
            <form action="." method="POST">
              <input type="text" class="form-control">
              <button type="submit" value="Search" class="btn btn-primary mt-2 mb-2">Search</button>
            </form>
            <hr>
            <p><strong>Filter by Station & Topic</strong></p>
            <form method="GET">
              {{recording_filter.form|crispy}}
              <button type="submit" value="Search" class="btn btn-primary mb-2">Filter</button>
            </form>
            <hr>

            <p><strong>Popular Topics</strong></p>

            <ul>
              {% for tag in popular_tags%}
              <li>{{tag.tag}}<span class="pull-right">{{tag.recordings.count}}</span></li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>

      <!-- BEGIN TICKET -->
      <div class="col-md-9">
        <div class="grid support-content">
         <div class="grid-body">
          <p><strong>Public Recordings</strong></p>
          <div class="row">
            <!-- BEGIN TICKET CONTENT -->
            <div class="col-md-12">
              <ul class="list-group fa-padding">

                {% for recording in recordings %}
                <li class="list-group-item" data-toggle="modal" data-target="#issue">
                  <div class="media">
                    <a class="mr-3" href="{% url 'recording' pk=recording.id %}"><i class="fas fa-file-audio text-primary"></i></a>
                    <div class="media-body">
                      <strong><a href="{% url 'profile' username=recording.user.username %}">{{recording.user.username}}</a></strong> on <strong>{{recording.radio_station.name}}</strong><span class="number pull-right">{{recording.start_datetime}}</span>
                      <hr>
                      <p class="info"><strong>{{recording.title}}</strong></p>
                      {% if not recording.description %}
                      <p class="info"></p>
                      {% else %}
                      <p class="info">{{recording.description}} Tags:
                        {% for tag in recording.tags.all %}
                        {{tag.tag}},
                        {% endfor %}
                      </p>
                      {% endif %}
                    </div>
                  </li>
                  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
