{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-3">

  <!-- section recording details and audio start -->
  <div class="img" style=" background-image:linear-gradient(to right, #1A4C84, #379CCA);
  height: 170px;background-size: cover;">
  </div>
  <div class="card social-prof">
    <div class="card-body">
      <div style="color: white;" class="wrapper">
        <h4 class="mb-2">{{view_recording.title}}</h3>
          <p>{{view_recording.description}}</p>
          <p class="mb-2">{{view_recording.user.username}} on {{view_recording.radio_station.name}}</p>
          <audio controls='controls' autoplay src="{{view_recording.file}}" type="audio/mpeg"></audio>
        </div>
      </div>
    </div>
  </div>
  <!-- section recording details and audio end -->

  <div class="container-fluid">
    <div class="row">
      <!-- section recording filter left start -->
      <div class="col-md-3">
          {% include 'components/card_header.html' with header="Filter"%}
           {% include 'components/filter_recording_form.html' with recording_filter=recording_filter%}
     </div>
     <!-- section recording filter right start -->

     <!-- section more recording from user start -->
     <div class="col-md-7">
      <div class="card support-content">
        <div class="card-header">
          <h5 class="card-title mb-0">More Recordings by {{view_recording.user.username}}</h5>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
              {% for other_recording in recordings %}
              {% include 'components/recording_card.html' with recording=other_recording user=user page="View"%}
              {% endfor %}
          </div>
        </div>
    </div>
    <!-- section more recordings from user end  -->

    <!-- section related recordings navigation start -->
    <!-- modified from bootstrap https://getbootstrap.com/docs/4.0/components/card/ -->
    <div class="col-md-2">
          {% include 'components/card_header.html' with header="Related"%}
        <div class="card support">
          {% if related_recordings.all %}
          <div class="list-group list-group-flush" role="tablist">
          {% for related_recording in related_recordings %}
          <a class="list-group-item list-group-item-action" href="{% url 'recording' pk=related_recording.id%}">
            {{related_recording.user.username}}: {{related_recording.title}} on {{related_recording.radio_station.name}}
          </a>
          {% endfor %}
          </div>
           {% else %}
           <div class="card-body">
           <p>No related recordings</p>
           </div>
           {% endif %}
       </div>
    </div>
    <!-- section related recordings navigation end -->

  </div>
</div>

{% endblock %}
