
/*Dark color scheme*/
body {
  --body-background: #3B3F42;
  --card-background: #202227;
  --body-background: #202227;
  --card-background: #3B3F42;
  --flash-message-background: #1EDD88;
  --primary-text-color: #FFF;
  --icon-hover-color: #37A2F2;
  --tab-active-color: #3afe;
  --profile-border-color: #2F89BA;
}

/*Light color scheme*/
/*body {
  --body-background: #FFF;
  --card-background: #D3D3D3;
  --flash-message-background: #1EDD88;
  --primary-text-color: #FFF;
  --icon-hover-color: #37A2F2;
  --tab-active-color: #3afe;
}*/

/* GENERALLY APPLIED STYLE */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background);
  color: var(--primary-text-color);
}

.card-body {
  background-color: var(--card-background);
}

a {
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  padding: 0px;
}
/* GENERALLY APPLIED STYLE */

/* SECTION NAVBAR STYLE START */
.navbar-nav li {
  padding: 0 15px;
}

.nav-item a {
  color: var(--primary-text-color) !important;
  font-weight: 400;
}

.navbar-brand {
  color: var(--primary-text-color) !important;
  font-weight: 500;
  padding-left: 15px;
}

.navbar-toggler {
  border-color: rgba(0,0,0,0.0) !important;
}
/*SECTION NAVBAR STYLE END */

/* SECTION HOMEPAGE BANNER STYLE START */
#homepage-background {
  background-image: linear-gradient(to right, #12417A, #3DA8D5);
  color: var(--primary-text-color);
  padding-top: 5%;
}

.main-title{
  font-size: 40px;
  font-weight: 500px;
  margin-top: 100px;
}

.homepage-wave-image {
  width: 100%;
}

/* SECTION HOMAPAGE BANNER END */

/* CODE MODIFIED FROM https://www.bootdey.com/snippets/view/support-tickets#html*/
/* RECORDING CARDS RELATED STYLES START */
/* STYLES UNCHANGED FROM ORIGINAL HIGHLIGHTED */

/*UNCHANGED*/
.col {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: var(--card-background);
  text-align: center;
  font-weight: 400;
}
.info {
  margin: 0px;
}

.card {
  margin-bottom: 20px;
  background-color: var(--card-background);
  color: var(--primary-text-color);
}
/* RECORDING CARDS RELATED STYLES END */


/* PROFILE NAVIGATION SECTION START */
/* CODE MODIFIED FROM https://www.bootdey.com/snippets/view/bs4-social-about */
/* STYLES UNCHANGED FROM ORIGINAL HIGHLIGHTED */

/*UNCHANGED*/
.social-profile .image-position {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-header {
    text-align: center;
}

/* UNCHANGED */
.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid var(--profile-border-color);
}

/* UNCHANGED */
.wrapper {
    margin: auto;
    margin-top: -175px;
}

/* UNCHANGED */
.profile-header h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

/* UNCHANGED */
.profile-header p {
    font-size: 18px;
}

/* UNCHANGED */
.profile-header .nav-tabs {
    border: none;
}

a.active {
    text-decoration: none;
    background-color: var(--tab-active-color);
    color: var(--primary-text-color);
}

/* UNCHANGED */
.card .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 300;
    border-radius: 4px;
}

/* UNCHANGED */
.card .nav>li>a:focus,
.card .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

/* PROFILE NAVIGATION SECTION END */

.list-group-item {
  background-color: var(--card-background);
  color: var(--primary-text-color);
}

/* FLASH MESSAGE STYLE */

.flash-message {
  padding: 13px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--flash-message-background);
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
  color:black;
}

/* MY RECORDING TABLE STYLE */

.table {
  color: var(--primary-text-color);
}

.icon:hover {
  color: var(--icon-hover-color);
}
