
/*Dark color scheme*/
body {
  --body-background: #3B3F42;
  --card-background: #202227;
  --body-background: #202227;
  --card-background: #3B3F42;
  --flash-message-background: #1EDD88;
  --primary-text-color: #FFF;
  --icon-hover-color: #37A2F2;
  --tab-active-color: #3afe;
}

/*Light color scheme*/
/*body {
  --body-background: #FFF;
  --card-background: #D3D3D3;
  --flash-message-background: #1EDD88;
  --primary-text-color: #FFF;
  --icon-hover-color: #37A2F2;
  --tab-active-color: #3afe;
}*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background);
  color: var(--primary-text-color);
}

.card-body {
  background-color: var(--card-background);
}

/*NAVBAR SECTION*/

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar-color {
  background-image: linear-gradient(to right, #12417A, #3DA8D5);
}

.navbar-nav li {
  padding: 0 15px;
}

.navbar-nav li a {
  color: var(--primary-text-color) !important;
  font-weight: 400;
  float: right;
  text-align: left;
}

.navbar-brand {
  color: var(--primary-text-color) !important;
  font-weight: 500;
  padding-left: 15px;
}

.navbar-toggler {
  border-color: rgba(0,0,0,0.0) !important;
  outline: none !important;
}

/*BANNER SECTION */
#banner {
  background-image: linear-gradient(to right, #12417A, #3DA8D5);
  color: var(--primary-text-color);
  padding-top: 5%;
}

.title-div-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}

.promo-title{
  font-size: 40px;
  font-weight: 500px;
  margin-top: 100px;
}

.bottom-img {
  width: 100%;
}

.button-margin {
  margin-right: 20px;
  margin-left: 20px;
}

/*PROFILE PAGE LAYOUT*/
/*https://www.bootdey.com/snippets/view/support-tickets#html*/

/* GRID */
.col {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: var(--card-background);
  color: #666666;
  text-align: center;
  font-weight: 400;
}

.row h3 {
  color: #666666;
}

.row.grid {
  margin-left: 0;
}


a {
  color: var(--primary-text-color);
}

.support ul {
  list-style: none;
  padding: 0px;
}

.support ul li a {
  color: #999;
  display: block;
}

.support-content .list-group li:hover {
  background: var(--body-background);
}

.support-content .fa-padding .fa {
  padding-top: 5px;
  width: 1.5em;
}

.support-content .info {
  margin: 0px;
}

/*https://www.bootdey.com/snippets/view/support-tickets#html*/

/*PROFILE NAVIGATION SECTION*/
/*https://www.bootdey.com/snippets/view/bs4-social-about*/
.card-one {
    position: relative;
    width: 300px;
    background: var(--primary-text-color);
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
    background-color: var(--card-background);
}

.card {
  margin-bottom: 20px;
}

.social-profile .user-profile {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.social-nav {
    position: absolute;
    bottom: 0;
}

.social-prof {
    color: #333;
    text-align: center;
}

.social-prof .wrapper {
    width: 70%;
    margin: auto;
    margin-top: -175px;
}

.social-prof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #2F89BA;
}

.social-prof h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof p {
    font-size: 18px;
}

.social-prof .nav-tabs {
    border: none;
}

.card {
  background-color: var(--card-background);
  color: var(--primary-text-color);
}

.card .nav>li {
    position: relative;
    display: block;
}

.card .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 300;
    border-radius: 4px;
}

.card .nav>li>a:focus,
.card .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.card .s-nav>li>a.active {
    text-decoration: none;
    background-color: var(--tab-active-color);
    color: var(--primary-text-color);
}

.list-group-item {
  background-color: var(--card-background);
  color: var(--primary-text-color);
}

/*FLASH MESSAGE STYLE*/

.flash-message {
  padding: 13px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--flash-message-background);
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
  color:black;
}

.table {
  color: var(--primary-text-color);
}

.icon:hover {
  color: var(--icon-hover-color);
}
