{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'components/profile_navigation.html' with user=user active="new"%}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Create New Recording</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form action="." method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <p>Timezone set to British Summer Time. Current time in BST: {% now "H:i" %}</p>
              <input type="Submit" class="btn btn-primary mb-2" value="Create">
            </form>
          </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}
