{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'components/profile_navigation.html' with user=user active="settings"%}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        {% include 'components/card_header.html' with header="Options"%}
        <div class="list-group list-group-flush" role="tablist">
          {% for setting in settings %}
          <a class="list-group-item list-group-item-action" href="#">
            {{setting}}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="tab-content">
        <div class="card">
          {% include 'components/card_header.html' with header="User Settings"%}
          <div class="card-body">
            <p>Settings coming soon...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
