{% load static %}
<!-- section profile navigation start -->
<!-- modified significantly from https://www.bootdey.com/snippets/view/bs4-social-about -->
<section class="mt-3">
  <div class="container-fluid">
    <div class="img" style=" background-image:linear-gradient(to right, #1A4C84, #379CCA);
    height: 170px;background-size: cover;"></div>
    <div class="card profile-header">
      <div class="card-body">
        <div class="wrapper">
          <img src="{% static 'images/profile_picture.png' %}" alt="" class="image-position">
          <h3>{{user.username}}</h3>
          <p></p>
        </div>
        {% if request.user == user %}
        <div class="row ">
          <div class="col-lg-12">
            <ul class="nav nav-tabs justify-content-center s-nav">
              <li>
                {% if active == "profile" %}
                <a class="active" href="{% url 'profile' username=request.user.username %}">Overview</a>
                {% else %}
                <a href="{% url 'profile' username=request.user.username %}">Overview</a>
                {% endif %}
              </li>
              <li>
                {% if active == "myrecordings" %}
                <a class="active" href="{% url 'myrecordings' username=user.username %}">My Recordings</a>
                {% else %}
                <a href="{% url 'myrecordings' username=user.username %}">My Recordings</a>
                {% endif %}
              </li>
              <li>
                {% if active == "new" %}
                <a class="active" href="{% url 'create_recording' username=user.username %}">Create Recording</a>
                {% else %}
                <a href="{% url 'create_recording' username=user.username %}">Create Recording</a>
                {% endif %}
              </li>
              <li>
                {% if active == "settings"%}
                <a class="active" href="{% url 'settings' username=request.user.username %}">Settings</a>
                {% else %}
                <a href="{% url 'settings' username=request.user.username %}">Settings</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- section profile navigation end -->
