<tr>
  <td class="pl-4">{{ forloop.counter }}</td>
  {% if recording.title|length > 25%}
  <td data-toggle="tooltip" data-placement="top" title="{{recording.title}}">
    <span><strong>{{recording.title|slice:":25"}}...</strong></span>
  </td>
  {% else %}
  <td>
    <span><strong>{{recording.title}}</strong></span>
  </td>
  {% endif %}

  <td>
    <span>{{recording.radio_station.name}}</span>
  </td>
  <td>
    <span>{{recording.start_datetime|date:'d/m/Y'}}</span>
  </td>
  <td>
    <span>{{recording.start_datetime|time:'H:i'}} - {{recording.end_datetime|time:"H:i"}}</span>
  </td>
  <td>
    <span>{{recording.status}}</span>
  </td>
  <td>
    <a data-toggle="tooltip" data-placement="top" title="Listen" class="mr-1 mb-1 icon"href="{% url 'myrecording_listen' username=user.username recording_id=recording.id %}"><i class="far fa-play-circle"></i></a>
    {% if recording.file %}
    <a data-toggle="tooltip" data-placement="top" title="Download" class="mr-1 mb-1 icon"href="{{recording.file}}"><i class="fas fa-file-download"></i></a>
    {% else %}
    <a data-toggle="tooltip" data-placement="top" title="File Unavailable" class="mr-1 mb-1 icon"href="#"><i class="fas fa-file-download"></i></a>
    {% endif %}
    <a data-toggle="tooltip" data-placement="top" title="Edit" class="mr-1 mb-1 icon"href="{% url 'myrecording' username=user.username recording_id=recording.id %}"><i class="far fa-edit"></i></i></a>
    <a data-toggle="tooltip" data-placement="top" title="Delete" href="{% url 'delete_recording' username=user.username recording_id=recording.id %}" class="mb-1 icon"><i class="far fa-trash-alt"></i></i></a>
  </td>
</tr>
